* {
  padding: 0;
  margin: 0;
  font-family: kanit;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0f1e4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0f1e4;
}
